* {
  box-sizing: border-box;
}

html {
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fHw%3D&w=1000&q=80);
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.buttons_container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: wheat(223, 220, 15);
  border: 2px solid blue;
  border-radius: 20% 10% 20% 10%;
}

.button:hover {
  background-color: blue;
  color: wheat;
}

ul {
  margin-top: 1rem;
  display: grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 0;
}

li {
  background-color: rgb(138, 138, 138);
  border: 2px solid black;
  display: flex;
  height: 15rem;
  flex-direction: column;
  align-items: center;
  border-radius: 25%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

li span {
  margin-top: 5%;
  font-family: monospace;
  font-weight: 2000;
  font-size: 1.4rem;
}

li img {
  margin-top: 10%;
}

li:hover {
  background-color: grey;
}
